BODY	 	{scrollbar-face-color:#00A6FF;
		 scrollbar-arrow-color:#FFFFFF;
		 scrollbar-track-color:#0088FF;
		 scrollbar-shadow-color:#FFFFFF;
		 scrollbar-highlight-color:#00A6FF;
		 scrollbar-3dlight-color:#FFFFFF;
		 scrollbar-darkshadow-Color:#00A6FF;
		 background-color:#9999FF;
		 text-align:center;}
TD		{font-size:14px;
		 vertical-align:middle;
		 padding:5px;}
A:visited	{color:#0000FF;
		 text-decoration:none;}
A:link		{color:#0000FF;
		 text-decoration:none;}
A:hover		{color:#FF0000;}
BUTTON, INPUT	{font-size:12px;
		 border-width:1px;
		 border-color:#00A6FF;
		 background-color:#55BBFF;}

.button         {text-align:center;}
.button1	{width:100px;
		 margin:5px;
		 padding:5px;}
.button2	{width:80px;
		 margin:0px;}
.title		{font-size:20px;
		 text-align:center;
	 	font-weight:bold;}
.folder		{font-weight:bold;
		 color:#0000FF;}
.note		{conlr:#FF0000;}
.bg0		{background-color:#55BBFF;
		 font-weight:normal;}
.bg1		{background-color:#99CCFF;
		 font-weight:normal;}
.bg2		{background-color:#CCFFFF;
		 font-weight:bold;}
