BODY	 	{scrollbar-face-color:#FFA600;
		 scrollbar-arrow-color:#FFFFFF;
		 scrollbar-track-color:#FF8800;
		 scrollbar-shadow-color:#FFFFFF;
		 scrollbar-highlight-color:#FFA600;
		 scrollbar-3dlight-color:#FFFFFF;
		 scrollbar-darkshadow-Color:#FFA600;
		 background-color:#FFBB55;}
TD		{font-size:14px;
		 vertical-align:middle;
		 padding:5px;}
A:visited	{color:#0000FF;
		 text-decoration:none;}
A:link		{color:#0000FF;
		 text-decoration:none;}
A:hover		{color:#FF0000;}
BUTTON, INPUT	{font-size:12px;
		 border-width:1px;
		 border-color:#FFa600;
		 background-color:#FFBB55;}

.button		{text-align:center;}
.button0        {width:150px;
		 height:30px;
                 margin:5px;
                 padding:5px;}
.button1	{width:100px;
		 margin:5px;
		 padding:5px;}
.button2	{width:80px;
		 margin:0px;}
.title		{font-size:20px;
		 text-align:center;
	 	 font-weight:bold;}
.folder		{font-weight:bold;
		 color:#0000FF;}
.note		{color:#FF0000;}
.bg0		{background-color:#FFDDAA;
		 font-weight:normal;}
.bg1		{background-color:#FFCC99;
		 font-weight:normal;}
.bg2		{background-color:#FFFFCC;
		 font-weight:bold;}
